body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(255, 230, 200);
}

.todo-title-container {
    width: 100%;
    text-align: center; 
    margin-top: 50px; 
}

.todo-title {
    font-size: 100px;
    font-weight: bold;
    color:#fe6600;
}

.login-container {
    background-color: ghostwhite;
    margin-top: 200px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px blue;
}

h2 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #009532;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: green;
}

#message {
    margin-top: 20px;
    color: red;
}
